/* Reset some default styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 40;
    color:#fff;
}

/* Style individual sections */
section {
    padding: 50px;
}

h2{
    font-size: 36px; 
    margin-bottom: 70px;
    text-align: center; 
    width: 100%; 
    padding: 10px; 
    
}

p{
    font-size: 18px;
    margin-bottom: 10px;
}

/* Apply styles for the header and navigation */
header {
    background-color: #000000;
    text-align: center;
    padding: 1rem 0;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color:#fff;
}

#home, #works , #resume, #gallery {
    background-color: #430202;
    
}
#about{
    background-color: #000000;
    background-position: center;
    display: flex;
    align-items: center;
}

.about-text {
    max-width: 50%;
    line-height: 2;
}

.about-image img {
    margin-left: 200px;
    max-width: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#resume {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; 
}

.resume-title { 
    text-align: center; 
    width: 100%; 
    padding: 10px; 
}

.resume-container {
    display: flex;
    width: 100%;
    justify-content: space-between; 
}

.resume-section {
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.projects-info, .works-container {
    display: flex;
    
}
.project-info {
    display: flex;
    flex: 1;
    flex-direction: column; 
    

}
.project-info a{
    margin-top: 20px;
    
}

#pr1 {
    margin: 50px 50px 50px 0;
}

#pr2 {
    margin: 50px 100px 50px 80px;
}

#pr3 {
    margin: 50px 0 50px 50px;
}

.project img {
    max-width: 100%; 
    height: auto; 
}

.image-gallery {
    display: flex;
    justify-content: space-between;
}
.image-gallery img{
    width: 300px;
    
}
#contact{
    background-color: #000000;
}

#contact ul li{
    margin-bottom: 20px;
}